body {
    background-image: url(images/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: seashell;
}

img {
    width:300px;
    margin: 40px ;
    display: block;
}

.heading {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}