body {
    /* https://unsplash.com/photos/7cuHOvtIv4Q */
    background-image: url(images/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: whitesmoke
}

img {
    width:250px;
    margin: 20px ;
    display: block;
}

.custom {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
}

button {
    margin-top: 20px;
    margin: 70px;
    line-height: 60px;
    font-weight: bold;
    padding: 0 40px;
    background: mediumseagreen
}

button:hover {
    background: lightseagreen
}

